<div class="side-contents">
  <ul>
    <li>
      <%= link_to new_post_path do %>
        記事を投稿する
        <i class="fas fa-arrow-right"></i>
      <% end %>
    </li>
    <li>
      <%= link_to "#" do %>
        いいね！一覧
        <i class="fas fa-arrow-right"></i>
      <% end %>
    </li>
    <li>
      <%= link_to "#" do %>
        フォローリスト
        <i class="fas fa-arrow-right"></i>
      <% end %>
    </li>
    <li>
      <%= link_to "#" do %>
        フォロワーリスト
        <i class="fas fa-arrow-right"></i>
      <% end %>
    </li>
    <li>
      <%= link_to "#" do %>
        マイベビー登録内容
        <i class="fas fa-arrow-right"></i>
      <% end %>
    </li>
    <li>
      <%= link_to "#" do %>
        グループ一覧
        <i class="fas fa-arrow-right"></i>
      <% end %>
    </li>
    <li>
    <%= link_to "#" do %>
        ユーザー情報の変更
        <i class="fas fa-arrow-right"></i>
      <% end %>
    </li>
    <li>
    <%= link_to "#" do %>
        べびぶろぐ退会
        <i class="fas fa-arrow-right"></i>
      <% end %>
    </li>
  </ul>
</div>