<div class="side-contents">
  <ul>
    <li>
      <%= link_to new_post_path, data: { "turbolinks":false } do %>
        記事を投稿する
        <i class="fas fa-arrow-right"></i>
      <% end %>
    </li>
    <li>
      <%= link_to "#" do %>
        いいね！一覧
        <i class="fas fa-arrow-right"></i>
      <% end %>
    </li>
    <li>
      <%= link_to "#" do %>
        フォローリスト
        <i class="fas fa-arrow-right"></i>
      <% end %>
    </li>
    <li>
      <%= link_to "#" do %>
        フォロワーリスト
        <i class="fas fa-arrow-right"></i>
      <% end %>
    </li>
    <li>
      <%= link_to new_baby_path do %>
        マイベビー登録
        <i class="fas fa-arrow-right"></i>
      <% end %>
    </li>
    <li>
      <%= link_to "#" do %>
        グループ一覧
        <i class="fas fa-arrow-right"></i>
      <% end %>
    </li>
    <li>
    <%= link_to edit_user_path(@user.id), data: { "turbolinks":false } do %>
        ユーザー情報の変更
        <i class="fas fa-arrow-right"></i>
      <% end %>
    </li>
    <li>
    <%= link_to user_path(@user.id), method: :delete do %>
        べびぶろぐ退会
        <i class="fas fa-arrow-right"></i>
      <% end %>
    </li>
  </ul>
</div>