<div class="side-contents">
  <ul>
    <li>
      <%= link_to new_post_path, data: { "turbolinks":false } do %>
        記事を投稿する
        <i class="fas fa-arrow-right"></i>
      <% end %>
    </li>
    <li>
      <%= link_to posts_path(@user.id) do %>
        自身の投稿記事一覧
        <i class="fas fa-arrow-right"></i>
      <% end %>
    </li>
    <li>
      <%= link_to likes_path(current_user.id) do %>
        いいね！記事一覧
        <i class="fas fa-arrow-right"></i>
      <% end %>
    </li>
    <li>
      <%= link_to followings_user_path(current_user) do %>
        フォローリスト
        <i class="fas fa-arrow-right"></i>
      <% end %>
    </li>
    <li>
      <%= link_to followers_user_path(current_user) do %>
        フォロワーリスト
        <i class="fas fa-arrow-right"></i>
      <% end %>
    </li>
    <li>
      <%= link_to new_baby_path do %>
        マイベビー登録
        <i class="fas fa-arrow-right"></i>
      <% end %>
    </li>
    <li>
      <%= link_to "#" do %>
        グループ一覧
        <i class="fas fa-arrow-right"></i>
      <% end %>
    </li>
    <li>
    <%= link_to edit_user_path(current_user.id), data: { "turbolinks":false } do %>
        ユーザー情報の変更
        <i class="fas fa-arrow-right"></i>
      <% end %>
    </li>
    <li>
    <%= link_to user_path(current_user.id), method: :delete do %>
        べびぶろぐ退会
        <i class="fas fa-arrow-right"></i>
      <% end %>
    </li>
  </ul>
</div>