<div class="users-wrapper">
  <div class="user-wrapper">
    <%= render "side-contents" %>

    <div class="user-contents">
    <%= form_with model: @user, local: true do |f| %>
      <div class="user-info">
        <div class="image-form">
          <% if @user.image? %>
            <div class="user-image">
              <%= image_tag(@user.image.to_s) %>
            </div>
          <% else %>
            <div class="user-image">
              <%= image_tag "/assets/default.png" %>
            </div>
          <% end %>
          <%= f.file_field :image %>
        </div>
        <tr>
          <th>ユーザー名</th>
          <td><%= f.text_field :name, autofocus: true, autocomplete: "name", required: "required" %></td>
        </tr>
        <tr>
          <th>ニックネーム</th>
          <td><%= f.text_field :nickname, autofocus: true, autocomplete: "nickname", required: "required"%></td>
        </tr>
        <tr>
          <th>メールアドレス</th>
          <td><%= f.email_field :email, autofocus: true, autocomplete: "email", required: "required" %></td>
        </tr>
        <div class="user-update">
          <%= f.submit "登録内容の変更" %>
        </div>
      </div>
      <% end %>
    </div>

  </div>
</div>