
<div id="home"><a href="/"></a></div>
<div class="users-wrapper">
  <div class="user-wrapper">
    <%= render "side-contents" %>

    <div class="user-contents">
      <div class="user-image">
        <ul>
          <li>
            <% if @user.image? %>
              <div class="user-image">
                <%= image_tag(@user.image.to_s) %>
              </div>
            <% else %>
              <%= render "/layouts/default_img" %>
            <% end %>
          </li>
        </ul>
      </div>
      <h1 class="main-contents__user">
        <%= render 'relationships/follow_btn', user: @user %> 
      </h1>
      <table class="user-info">
        <tr>ユーザー情報
          <th>ユーザー名</th>
          <td><%= @user.name %></td>
        </tr>
        <tr>
          <th>ニックネーム</th>
          <td><%= @user.nickname %></td>
        </tr>
        <tr>
          <th>メールアドレス</th>
          <td><%= @user.email %></td>
        </tr>
      </table>

      <% @babies.each do |baby| %>
        <table class="user-info">
          <div>マイベビー情報
            <div class="baby-edit">
              <%= link_to "登録情報を変更する", edit_baby_path(baby.id) %>
            </div>
            <% if baby.image? %>
              <div class="user-image">
                <%= image_tag(baby.image.to_s) %>
              </div>
            <% else %>
              <div class="user-image">
                <%= image_tag asset_path('default_baby.png') %>
              </div>
            <% end %>
          </div>
          <tr>
            <th>ベビーの名前</th>
            <td><%= baby.name %></td>
          </tr>
          <tr>
            <th>性別</th>
            <td><%= baby.sex %></td>
          </tr>
          <tr>
            <th>誕生日</th>
            <td><%= baby.birthday %></td>
          </tr>
          <tr>
            <th>生まれた時の体重(g)</th>
            <td><%= baby.first_weight %> g</td>
          </tr>
          <tr>
            <th>生まれた時の身長(cm)</th>
            <td><%= baby.first_height %> cm</td>
          </tr>
        </table>
      <% end %>

    </div>
  </div>
</div>