<div class="wrapper">
  <div class="main-contents">

    <div class="search">
      <%= form_with(url: search_posts_path, local: true, method: :get) do |f| %>
        <%= f.text_field :keyword, placeholder: "投稿を検索する", class: "search__form" %>
        <%= f.submit "検索", class: "search__btn" %>
      <% end %>
    </div>

    <div class="content-main">

      <div class="content-main__box">
        <h1>新着投稿</h1>

        <div class="content-main__box__post">
          <% @posts.each do |post| %>
            <div class="content-main__box__post__box">
              <div class="content-main__box__post__box--img">
                <%= link_to image_tag(post.image.to_s), post_path(post.id) %>
              </div>
              <div class="content-main__box__post__box--info">
                <div class="user-info">
                  <% if post.user.image? %>
                    <div class="user-image">
                      <%= image_tag(post.user.image.to_s) %>
                    </div>
                  <% else %>
                    <%= render "/layouts/default_img" %>
                  <% end %>
                  <div class="user-name">
                    <span>投稿者：<%= post.user.nickname %></span><br>
                    <span class="post-date">投稿日時：<%= post.created_at.to_s(:datetime_jp) %></span>
                  </div>
                </div>
                <div class="post-title">
                  <%= post.title %>
                </div>
                <div class="post-text">
                  <%= truncate(post.text, length:40) %>
                </div>
              </div>
            </div>
          <% end %>
        </div>

      </div>
    </div>
  </div>
</div>