<div class="wrapper">
  <div class="main-contents">
    <h1 class="main-contents__title">
      <%= @post.title %>
    </h1>
    <div class="main-comtents__tag">
      <% @post.tags.each do |tag| %>
        <%= tag.name %>
      <% end %>
    </div>
    <div class="main-contents__img">
      <%= image_tag(@post.image.to_s) %>
    </div>
    <div class="main-contents__text">
      <%= @post.text %>
    </div>
    <% if user_signed_in? && @post.user_id == current_user.id %>
      <div class="edit-box">
        <div class="edit">
          <%= link_to "投稿を編集する", edit_post_path(@post.id) %>
        </div>
        <div class="destroy">
          <%= link_to "投稿を削除する", post_path(@post.id), method: :delete %>
        </div>
      </div>
    <% end %>
    <div class="post-comment">
      <% if current_user %>
        <%= form_with(model: [@post, @comment], local: true, id: "new_comment") do |f| %>
          <%= f.text_area :comment, placeholder: "コメントする", rows: "2", class: "comment-box" %>
          <%= f.submit "送信", class: "comment_submit" %>
        <% end %>
      <% else %>
      <div class="comments">
        <p>〜〜〜 コメントの投稿には新規登録／ログインが必要です 〜〜〜</p>
      <% end %>
        <h4>＜コメント一覧＞</h4>
        <% if @comments %>
          <% @comments.each do |comment| %>
            <p>
              <strong><%= comment.user.nickname %>：</strong>
              <%= comment.comment %>
            </p>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>