<div class="wrapper">
  <div class="main-contents">
    <h1 class="main-contents__title">
      <%= @post.title %>
    </h1>
    <div class="main-contents__img">
      <%= image_tag(@post.image.to_s) %>
    </div>
    <div class="main-contents__text">
      <%= @post.text %>
    </div>
    <% if @post.user_id == current_user.id %>
      <div class="edit-box">
        <div class="edit">
          <%= link_to "投稿を編集する", edit_post_path(@post.id) %>
        </div>
        <div class="destroy">
          <%= link_to "投稿を削除する", post_path(@post.id), method: :delete %>
        </div>
      </div>
    <% end %>
    <div class="post-comment">
    </div>
  </div>
</div>