<div class="wrapper">
  <div class="main-contents">
    <h1 class="main-contents__title">
      <%= @post.title %>
    </h1>
    <div class="main-contents__tag">
      <% @post.tags.each do |tag| %>
        <div class="tag-name">
          <%= tag.name %>
        </div>
      <% end %>
    </div>
    <div class="main-contents__img">
      <%= image_tag(@post.image.to_s) %>
      <div class="like" id="like_<%= @post.id %>">
        <%= render "likes/like" %>
      </div>
    </div>
    <div class="main-contents__text">
      <div class="post-text">
        <%= @post.text %>
      </div>
      <h1 class="main-contents__user">
        <% if @post.user.image? %>
          <div class="user-image">
            <%= image_tag(@post.user.image.to_s) %>
          </div>
        <% else %>
          <%= render "/layouts/default_img" %>
        <% end %>
        <div class="user-name">
          <span>投稿者：<%= @post.user.nickname %></span>
        </div>
          <%# <%= render 'relationships/follow_btn', user: @user %>
      </h1>
    </div>
    <div class="main-contents__option">
      <% if user_signed_in? && @post.user_id == current_user.id %>
        <div class="edit">
          <%= link_to "投稿を編集する", edit_post_path(@post.id), data: { "turbolinks":false } %>
        </div>
        <div class="destroy">
          <%= link_to "投稿を削除する", post_path(@post.id), method: :delete %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="comment-contents">
    <div class="post-comment">
      <% if current_user %>
        <%= form_with(model: [@post, @comment], local: true, id: "new_comment") do |f| %>
          <%= f.text_area :comment, placeholder: "コメントする", rows: "2", class: "comment-field" %>
          <%= f.submit "送信", class: "comment_submit" %>
        <% end %>
      <% else %>
      <div class="comments">
        <p>〜〜〜 コメントの投稿には新規登録／ログインが必要です 〜〜〜</p>
      <% end %>
        <h4>＜コメント一覧＞</h4>
        <% if @comments %>
          <% @comments.each do |comment| %>
            <div class="comment-box">
              <div class="user-info">
                <% if comment.user.image? %>
                  <div class="user-image">
                    <%= image_tag(comment.user.image.to_s) %>
                  </div>
                <% else %>
                  <%= render "/layouts/default_img" %>
                <% end %>
                <div class="user-name">
                  <%= comment.user.nickname %>
                </div>
              </div>
              <p>
                <%= comment.comment %>
              </p>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>