<!DOCTYPE html>
<html>
  <head>
    <title>BabyBlog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <h1 class="header-title">
      <%= link_to "べびぶろぐ", "#", class: "title-name" %>
      </h1>
      <div class="header-sub">
        <% if user_signed_in? %>
          <%= link_to "メニュー", "#", class: "new-menu" %>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "log-in" %>
        <% else %>
          <%= link_to "新規登録", new_user_registration_path, class: "new-menu" %>
          <%= link_to "ログイン", new_user_session_path, class: "log-in" %>
        <% end %>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
