<!DOCTYPE html>
<html>
  <head>
    <title>BabyBlog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <h1 class="header-title">
      <%= link_to "べびぶろぐ", "#", class: "title-name" %>
      </h1>
      <div class="header-sub">
      <%= link_to "新規登録", "#", class: "new-menu" %>
      <%= link_to "ログイン", "#", class: "log-in" %>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
